<div class="container">
	<div initial ng-if="model.WeighIns.length == 0" model="model"></div>
	<div ng-show="model.WeighIns.length > 0">
		<div>
			<label>
				<input ng-model="measurementSystem" type="radio" value="metric" />
				Metric
			</label>
			<label>
				<input ng-model="measurementSystem" type="radio" value="imperial" />
				Imperial
			</label>
		</div>
		<div>
			<label>
				<input type="number" min="1" ng-model="dateRangeWeeks" />
				weeks
			</label>
		</div>
		<div>
			<label>
				Expand chart to show PI normal weight range:
				<input type="checkbox" ng-model="expandToShowPiNormalRange" />
			</label>
		</div>
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1"
				class="weight-chart" viewBox="0 0 1140 570"
				preserveAspectRatio="slice">
				<!-- Tick grids -->
				<path ng-repeat="t in xAxisTicks"
					class="tick-grid"
					d="M {{toXPosition(t)}} {{chartMargin.top}} V {{chartViewPort.height-chartMargin.bottom}}" />
				<path ng-repeat="t in yAxisTicks"
					class="tick-grid"
					d="M {{chartMargin.left}} {{toYPosition(t)}} H {{chartViewPort.width-chartMargin.right}}" />
				<path ng-repeat="t in xAxisTicks"
					class="tick-grid-today"
					d="M {{toXPosition(today)}} {{chartMargin.top}} V {{chartViewPort.height-chartMargin.bottom}}" />
				<!-- Weight ranges -->
				<g class="weight-ranges">
					<rect class="weight-range-underweight"
						x="{{chartMargin.left}}"
						y="{{toYPosition(weightRanges[-1].end)}}"
						width="{{chartViewPort.width-chartMargin.left-chartMargin.right}}"
						height="{{(weightRanges[-1].end-weightRanges[-1].start)*yAxisScale}}">
						<title>Underweight for your height: between {{weightRanges[-1].start | weight:measurementSystem}} and {{weightRanges[-1].end | weight:measurementSystem}}</title>
					</rect>
					<rect class="weight-range-normal"
						x="{{chartMargin.left}}"
						y="{{toYPosition(weightRanges[0].end)}}"
						width="{{chartViewPort.width-chartMargin.left-chartMargin.right}}"
						height="{{(weightRanges[0].end-weightRanges[0].start)*yAxisScale}}">
						<title>Normal weight for your height: between {{weightRanges[0].start | weight:measurementSystem}} and {{weightRanges[0].end | weight:measurementSystem}}</title>
					</rect>
					<rect class="weight-range-overweight"
						x="{{chartMargin.left}}"
						y="{{toYPosition(weightRanges[1].end)}}"
						width="{{chartViewPort.width-chartMargin.left-chartMargin.right}}"
						height="{{(weightRanges[1].end-weightRanges[1].start)*yAxisScale}}">
						<title>Overweight for your height: between {{weightRanges[1].start | weight:measurementSystem}} and {{weightRanges[1].end | weight:measurementSystem}}</title>
					</rect>
				</g>
				<!-- Goal lines -->
				<g class="goal-lines">
					<g ng-repeat="g in displayGoals">
						<path d="M {{toXPosition(g.StartingAt)}} {{toYPosition(g.InitialWeight)}} L {{toXPosition(g.DueAt)}} {{toYPosition(g.GoalWeight)}}" />
						<circle cx="{{toXPosition(g.StartingAt)}}"
							cy="{{toYPosition(g.InitialWeight)}}"
							r="4" />
						<circle cx="{{toXPosition(g.DueAt)}}"
							cy="{{toYPosition(g.GoalWeight)}}"
							r="4" />
						<title>Goal of {{g.GoalWeight | weight:measurementSystem}} by {{g.DueAt}}</title>
					</g>
				</g>
				<!-- Weight line -->
				<g class="weight-line">
					<path ng-if="displayWeighIns.length > 1" d="{{weightPath}}" />
					<circle ng-repeat="wi in displayWeighIns | orderBy:'At'"
						cx="{{toXPosition(wi.At)}}"
						cy="{{toYPosition(wi.Weight)}}"
						r="4"
						ng-click="setWeighInFormTo(wi)">
						<title>{{wi.Weight | weight:measurementSystem}} @ {{wi.At}}</title>
					</circle>
				</g>
				<!-- Margin covers -->
				<g class="bezel">
					<rect x="0" y="0"
						width="{{chartViewPort.width}}"
						height="{{chartMargin.top}}" />
					<rect x="{{chartViewPort.width-chartMargin.right}}"
						y="0"
						width="{{chartMargin.right}}"
						height="{{chartViewPort.height}}" />
					<rect x="0"
						y="{{chartViewPort.height-chartMargin.bottom}}"
						width="{{chartViewPort.width}}"
						height="{{chartMargin.bottom}}" />
					<rect x="0"
						y="0"
						width="{{chartMargin.left}}"
						height="{{chartViewPort.height}}" />
				</g>
				<!-- Axes -->
				<g class="axis">
					<path class="axis-line"
						d="M {{chartMargin.left}} {{chartMargin.top}} V {{chartViewPort.height-chartMargin.bottom}} H {{chartViewPort.width-chartMargin.right}}" />
					<text ng-repeat="t in xAxisTicks"
						class="x-tick-label"
						x="{{toXPosition(t)}}"
						y="{{chartViewPort.height-chartMargin.bottom+10}}"
						text-anchor="end" alignment-baseline="middle"
						transform="rotate(-90 {{toXPosition(t)}},{{chartViewPort.height-chartMargin.bottom+10}})">{{t}}</text>
					<text ng-repeat="t in yAxisTicks"
						class="x-tick-label"
						x="{{chartMargin.left-10}}"
						y="{{toYPosition(t)}}"
						text-anchor="end" alignment-baseline="middle">{{t | weight:measurementSystem}}</text>
				</g>
			</svg>
		</div>
		<div>
			<form ng-submit="saveWeighIn(weighInDt, weighInWeight)">
				<h3>Weigh in</h3>
				<div ng-model="weighInDt">
					<datepicker show-weeks="false" date-disabled="disabledWeighInDates(date, mode)"></datepicker>
				</div>
				<input type="number" step="0.1" ng-model="weighInWeight" ng-show="measurementSystem=='metric'" />
				<input type="submit" value="Add" />
			</form>
		</div>
		<div>
			<form ng-submit="saveGoal(goalDt, goalWeight)">
				<h3>Goal</h3>
				<div ng-model="goalDt">
					<datepicker show-weeks="false" date-disabled="disabledGoalDates(date, mode)"></datepicker>
				</div>
				<input type="number" step="0.1" ng-model="goalWeight" />
				<input type="submit" ng-click="" value="Add" />
			</form>
		</div>
	</div>
</div>
