.weight-chart {
	max-width: 1140px;
	max-height: 570px;
}

.weight-line {
	stroke: green;
	stroke-width: 2;
	fill: white;
}
.weight-line circle {
	cursor: pointer;
}
.weight-line path {
	fill: none;
}

.goal-lines {
	stroke: orange;
	stroke-width: 2;
	fill: white;
	cursor: pointer;
}
.goal-lines path {
	fill: none;
	stroke-dasharray: 5,10;
}

.weight-range-overweight, .weight-range-underweight {
	fill: rgba(255,255,0,0.1);
}

.weight-range-normal {
	fill: rgba(0,255,0,0.1);
}

.axis-line {
	stroke: #000;
	stroke-width: 2;
	fill: none;
}

.tick-grid {
	stroke: #DDD;
	fill: none;
}

.tick-grid-today {
	stroke: #FCC;
	fill: none;
}

.x-tick-label {
	text-transform: rotate(90);
}

.bezel rect {
	fill: white;
	stroke: none;
}